<% include ../partials/header.ejs %>
<div class="jumbotron text-center">
  <h1>CLINTON ESSIEN</h1>
  <h1> SOFTWARE ENGINEERING<h1>
  </div>
  <p>My name is Clinton Essien, am originally from Nigeria, West Africa. I am acurret student of Centennial College, Toronto Canada; under the software engineering technology program.

  <br> I am certified in certain areas of ICET such as: web developement, database management, software develpoment and management skills entailed, below are my techical skills</br>
  <ul>
  <li> C# Programming</li>
  <li> Database management</li>
  <li> Software security and control</li>
  <li> Game Design</li>
  <img src="images/computers.jpg">
  <footer>
  <div class="container">
<% include ../partials/footer.ejs %>