<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <!-- Site url = https://comp308-assignment2-auth.herokuapp.com
 Author : Clinton Essien
 Fie name: contact.ejs - Contact Content
 Description - Contact Page
 script link s- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
 https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js
 https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js
-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
        </div>
      </div>
    </div>
    <div class="jumbotron text-center">
  <h1>CLINTON ESSIEN</h1>
  <h1> SOFTWARE ENGINEERING<h1>
  <img src="images/vii.jpg">
  
  
</div>
   <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Toronto, Canada<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +116478775418<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: clintonessien@gmail.com<br>
      
    <h2 class="w3-wide w3-center">Contact me</h2>
    <p> Email: clintonessien@gmail.com</p>
    <p> Phone number: +1164875418 </p>
    </div>

<% include ../partials/footer.ejs %>


