<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <!-- Site url = https://comp308-assignment2-auth.herokuapp.com
 Author : Clinton Essien
 Fie name: index.ejs - Home Content
 Description - Contact Page
 script link s- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
 https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js
 https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js
-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <<h1>CLINTON ESSIEN</h1>
  <h1> SOFTWARE ENGINEERING<h1>
  <p>Hello, Welcome to my port folio</p> 
        </div>
      </div>
    </div>
 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>About me</h3>
      <a href="/about"><img src="/images/about-1.png" style="width:304px;height:228px;"></a>
     
      
    </div>
    <div class="col-sm-4">
      <h3>Service Page</h3>
     <a href="/service"> <img src="images/sew-1.jpg" style="width:304px;height:228px;"></a>
      
    </div>
    <div class="col-sm-4">
      <h3>Projects</h3>     
     <a href="/project"> <img src="images/pro.png" style="width:304px;height:228px;"></a>   
      <h3>Contact me</h3>        
    <a href="/contact"><img src="images/con-1.png" style="width:304px;height:228px;"></a> 
      
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>


