<% include ../partials/header.ejs %>
<div class="jumbotron text-center">
  <h1>CLINTON ESSIEN</h1>
  <img src="images/poo.jpg" style="width:1500px;height:400px;">
  <table>
  <tr>
    <th>Project Description</th>
    <th>Program</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Bug Game</td>
    <td>Advanced Web Design</td>
    <td> <a href="http://studentweb.cencol.ca/cessien/Assignment4/index.html">Go To Game</a></td>
  </tr>
  <tr>
    <td>Apple Retail</td>
    <td>Advanced Web</td>
    <td><a href="http://studentweb.cencol.ca/cessien/300773051/Assignment2.html">Go To Page</a></td>
  </tr>
  <tr>
    <td>Student Page Portal</td>
    <td>Web Design</td>
    <td><a href="http://studentweb.cencol.ca/cessien">Go To Page</a></td>
  </tr>
  <tr>
    <td>Centennial Meetup</td>
    <td>Software Development</td>
    <td><a href="https://github.com/keshok/BaeWatch">Go to GitHub</a></td>
  </tr>
</table> 
<h2> Sample Photos</h2>

  </div>
  <img src="images/creen.png" style="width:600px;height:400px;">
  <img src="images/seen.png" style="width:600px;height:400px;">
  <% include ../partials/footer.ejs %>

