<% include ../partials/header.ejs %>
<!-- Site url = https://comp308-assignment2-auth.herokuapp.com
 Author : Clinton Essien
 Fie name: service.ejs - Services Content
 Description - Service Page
 script link s- https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
 https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js
 https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js
-->
<div class="jumbotron text-center">
  <h1>CLINTON ESSIEN</h1>
  <img src="images/dee.png">
  <h1> SOFTWARE ENGINEERING<h1>
  <p>
  <h3>SERVICES RENDERED</h3>
  </p> 
  <ul>
  <p>Web Design</p>
  <p>Software Developer</p>
  <p>Database Management</p>
  <p>Java, C# and SQL</p>
</ul>
<% include ../partials/footer.ejs %>