<% include ../partials/header.ejs %>
<div class="jumbotron text-center">
  <h1>CLINTON ESSIEN</h1>
  <img src="images/dee.png">
  <h1> SOFTWARE ENGINEERING<h1>
  <p>
  <h3>SERVICES RENDERED</h3>
  </p> 
  <ul>
  <p>Web Design</p>
  <p>Software Developer</p>
  <p>Database Management</p>
  <p>Java, C# and SQL</p>
</ul>
<% include ../partials/footer.ejs %>